/* DataTable styles */

/* make the header sticky and non-transparent */
th {
  position: sticky;
  background: white;
  top: 0;
/*
  border-top-color: white;
  border-top-width: 0px;
*/
}

/* can't get rid of the top border, which looks transparent when scrolling

table {
  border: white;
}

thead tr th {
  border-top-color: white;
}
*/